<% provide(:class_text, 'lunch_check') %>
<% provide(:button_text, '給食チェック') %>


<div class="modal-dialog modal-lg modal-dialog-center">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h1 class="modal-title">【アレルギーチェック】</h1>
    </div>
    
    <div class="modal-body">
    <%= form_with(model: @attendance, url: update_lunch_check_user_attendance_path(@user, @attendance), local: true, method: :patch) do |f| %>   
    <table  border=2 width=100%, class="table table-bordered table-condensed user-table">
      <thead>
        <tr>
          <th>日付</th>
          <th>曜日</th>
          <th>第１チェック</th>
          <th>第2チェック</th>
          <th>本人</th>
          <td>備考</td>
          <th>アレルギー担当確認</th>
        </tr>
      </thead>
       
　    <tbody>
　       <% 
            css_class = 
            case %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday]
            when '土'
              'text-primary'
            when '日'
              'text-danger'
            end
          %> 
        <tr> 
          <td><%= l(@attendance.worked_on, format: :short) %></td>
          <td class="<%= css_class %>"><%= %w{日 月 火 水 木 金 土}[@attendance.worked_on.wday] %></td>
          <td><%= f.check_box :first_teacher, class: "form-control" %></td>
          <td><%= f.check_box :second_teacher, class: "form-control" %></td>
          <td><%= f.check_box :student, class: "form-control" %></td>
          <td><%= f.text_field :note, class: "form-control" %></td>
          <td><%= f.collection_select :lunch_check_superior, @superiors, :name, :name, :include_blank => true %></td>
        </tr> 
       </tbody>    
        
      </table> 
      <%= f.submit "アレルギーチェックを報告", class: "btn btn-primary btn-lg btn-block" %></div> 
      <% end %>
  　 </div> 
 　 </div> 
 </div>  
    
      
     
        
            
            
                  
            